<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>Nottify - Notes Taking App</title>
</head>

<body>
  <main>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>
  <div class="box">
    <% for(let item of listItems){%>
      <div class="item">
        <form action="/delete" method="post">
          <input type="checkbox" onchange="this.form.submit()" name="deleteItemTitle" value="<%= item.title %>">
        </form>

        <p id="title<%=item.title%>">
          <b><%= item.title %></b>
        </p>
        <p id="data<%=item.title%>">
          <%= item.data %>
        </p>

        <form class="edit" action="/edit" method="post">
          <input id="inputTitle<%=item.title%>" type="text" name="updatedItemTitle" value="<%= item.title %>" autocomplete="off"
            autofocus="true" hidden="true" />
          <input id="inputData<%=item.title%>" type="text" name="updatedItemData" value="<%= item.data %>" autocomplete="off"
            autofocus="true" hidden="true" />
          <button id="done<%=item.title%>" class="edit" type="submit" hidden><img class="icon"
              src="/assets/icons/check-solid.svg" alt="tick image"></button>
        </form>
        <button type="submit" id="edit<%=item.title%>" class="edit" onclick="handler('<%=item.title%>', '<%=item.data%>')"><img class="icon"
            src="/assets/icons/pencil-solid.svg" alt="pencil image" style="height: 15px;">Edit</button>
        
      </div>
      <% } %>

        <form class="item" action="/add" method="post">
          <input type="text" name="newTitle" placeholder="Title" autocomplete="off" autofocus="true" />
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" />
          <button class="add" type="submit" name="list" value=<%=listTitle %> >+</button>
        </form>

        <form action="/logout" method="post">
          <button class="logout" type="submit">Logout</button>
        </form>
  </div>

  <script>
    function handler(id, data) {
      document.getElementById("title" + id).setAttribute("hidden", true);
      document.getElementById("data" + id).setAttribute("hidden", true);
      document.getElementById("edit" + id).setAttribute("hidden", true);
      document.getElementById("done" + id).removeAttribute("hidden");
      document.getElementById("inputTitle" + id).removeAttribute("hidden");
      document.getElementById("inputData" + id).removeAttribute("hidden");

      // post request for setting a cookie with this note's id
      fetch("/getNoteId", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          title: id,
          data: data,
        }),
      });
    }
  </script>
</main>
</body>

</html>